#CreatePost {
  @mixin mobile {
    @media (min-width: 320px) {
      @content;
    };
  };
  @mixin tablet_small {
    @media (min-width: 426px) {
      @content;
    };
  };
  @mixin tablet_large {
    @media (min-width: 597px) {
      @content;
    };
  };
  @mixin laptop_small {
    @media (min-width: 769px) {
      @content;
    };
  };
  @mixin laptop_large {
    @media (min-width: 1025px) {
      @content;
    };
  };
  @mixin fourK {
    @media (min-width: 1441px) {
      @content;
    };
  };

  @include mobile{
    text-align: center;
    input{
      display: block;
      margin: 0 auto 0;
      font-size: 15px;
      padding: 10px;
      border: 2px solid black;
      border-radius: 10px;
      text-align: center;
    };
    label{
      display: block;
      margin-top: 40px;
    }
    textarea{
      display: block;
      margin: 0 auto 0;
      border: 2px solid black;
      border-radius: 10px;
      text-align: center;
      width: 80%;
      height: 200px;
    };
    button{
      display: block;
      margin: 20px auto;
      border: 2px solid black;
      border-radius: 10px;
      padding: 10px;
      font-weight: bolder;
      background-color: saddlebrown;
      color: bisque;
    };
    border: 3px solid black;
    background-color: bisque;
    border-radius: 20px;
    margin-top: 30px;
  };
  @include laptop_large{
    h1{
      font-size: 60px;
    };
    label{
      font-size: 40px;
    };
    input{
      font-size: 30px;
    };
    textarea{
      font-size: 40px;
      height: 300px;
    };
    button{
      font-size: 40px;
    };
  };
  @include fourK{
    h1{
      font-size: 80px;
    };
    label{
      font-size: 60px;
    };
    input{
      font-size: 50px;
    };

  }
};