#MyBooks{
  @mixin mobile{
    @media (min-width: 320px){
      @content;
    };
  };
  @mixin tablet_small{
    @media (min-width: 426px) {
      @content;
    };
  };
  @mixin tablet_large{
    @media (min-width: 597px){
      @content;
    };
  };
  @mixin laptop_small{
    @media (min-width: 769px) {
      @content;
    };
  };
  @mixin laptop_large{
    @media (min-width: 1440px){
      @content;
    };
  };
  @mixin fourK_small{
    @media (min-width: 2001px){
      @content;
    };
  };

  @include mobile{
    form{
      text-align: center;
      margin-top: 10px;
      input{
        height: 20px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: bisque;
        text-align: center;
      };
    };
    #MyBooksList{
      margin-top: 20px;
      border: 5px solid #100d0d;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      display: flex;
      flex-direction: column;
      place-items: center;
      div{
        font-weight: bolder;
        text-align: center;
        margin-top: 20px;
        border: 5px solid #100d0d;
        border-radius: 20px;
        padding: 20px;
        background-color: bisque;
        cursor: pointer;
        a{
          text-decoration: none;
        };
        &:hover{
          background-color: saddlebrown;
          color: bisque;
          a{
            color: bisque;
          };
        };
      };
    };
  };
  @include tablet_small{
    form{
      input{
        height: 30px;
      };
    };
  };
  @include laptop_small{
    form {
      input {
        font-size: 30px;
        padding: 20px;
        border: 3px solid black;
      };
    };
    #MyBooksList{
      div{
        font-size: 30px;
      };
    };
  };
  @include laptop_large{
    form{
      margin-top: 30px;
      input{
        font-size: 60px;
        height: 50px;
      };
    };
    #MyBooksList{
      border: 6px solid black;
      div{
        font-size: 50px;
        border: 6px solid black;
        margin-top: 30px;
      };
    };
  };
};